<h1>Welcome!</h1>
<h2><%=  user.last_name  %>さん</h2>

<% if user.admin %>
    <%=
    form_for :shift, "/shift", method: :get do
        div class: 'input' do
        label      "年"
        text_field :year
        end

        div class: 'input' do
        label      '月'
        text_field :month
        end
        
        div class: 'input' do
        label      "前半/後半"
        values = Hash['前半' => false, '後半' => true]
        select :store, values
        end

        div class: 'controls' do
        submit 'シフト表示'
        end
    end
    %>
<% else %>
    <%=
    form_for :submit, "/submit/new", method: :get do
        submit 'シフト申請'
    end
    %>
<% end %>
<%=
form_for :session, "/session/:id", method: :delete do
    submit 'ログアウト'
end
%>
