<h1>新規登録</h1>

<%=
  form_for :user, '/user' do
    div class: 'input' do
      label      "姓"
      text_field :last_name
    end

    div class: 'input' do
      label      "名"
      text_field :first_name
    end

    div class: 'input' do
      label      "メールアドレス"
      text_field :email
    end

    div class: 'input' do
      label     "パスワード"
      text_field :password
    end

    div class: 'controls' do
      submit '新規登録'
    end
  end
%>
<%=
form_for :session, "/session", method: :get do
    submit 'ログイン'
end
%>