<h1>ログイン</h1>

<%=
  form_for :session, '/session' do
    div class: 'input' do
      label      "メールアドレス"
      text_field :email
    end

    div class: 'input' do
      label      "パスワード"
      text_field :password
    end

    div class: 'controls' do
      submit 'ログイン'
    end
  end
%>
<%=
form_for :user, "/user/new", method: :get do
    submit '新規登録ページへ'
end
%>