<h1>シフト作成</h1>

<h2><%= year %>年<%= month %>月<%= period %>のシフト</h2>

<%=
form_for :shift, '/shift' do
    day_list.each do |i|
        i
        div class: 'input' do
        label      "#{i}日lunch_start"
        text_field "lunch_start_#{i}"
        end
        
        div class: 'input' do
        label      "#{i}日lunch_finish"
        text_field "lunch_finish_#{i}"
        end

        div class: 'input' do
        label      "#{i}日dinner_start"
        text_field "dinner_start_#{i}"
        end

        div class: 'input' do
        label      "#{i}日dinner_finish"
        text_field "dinner_finish_#{i}"
        end
    end

    div class: 'controls' do
      submit 'submit'
    end
end
%>
