<h1>シフト登録</h1>

<%=
  form_for :shift, "/shift/new", method: :get do
    div class: 'input' do
      label      "年"
      text_field :year
    end

    div class: 'input' do
      label      "月"
      text_field :month
    end
    
    div class: 'input' do
      label      '前半/後半'
      values = Hash['前半' => false, '後半' => true]
      select :store, values
    end

    div class: 'controls' do
      submit 'シフト作成'
    end
  end
%>

<%=
form_for :user, "/user", method: :get do
    submit '戻る'
end
%>